.team__bottom {
  position: relative;
  top: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: 1440px;
}
@media screen and (max-width: 1080px) {
  .team__bottom {
    top: 81px;
  }
}
@media screen and (max-width: 425px) {
  .team__bottom {
    top: 54px;
  }
}