.projects__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 278px;
  padding-bottom: 10px;
}

.projects__link:active {
  font-weight: 600;
}
