.about__slide {
    min-width: 348px;
    max-width: 348px;
    margin-right: 32px;
    position: relative;
}
@media screen and (max-width: 768px){
  .about__slide{
    max-width: 330px;
    min-width: 330px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 320px){
  .about__slide{
    max-width: 288px;
    min-width: 288px;
    margin-right: 10px;
  }
}