.header__menu-mobile-item-education {
    padding: 0 0 0 40px;
    opacity: .5;
    transition: opacity .5s ;
    cursor: pointer;
}
  
.header__menu-mobile-item-education:hover  {
    background-color: #001337;
    opacity: 1;
}
  
@media all and (max-width: 480px) {
    .header__menu-mobile-item-education {
      padding: 0 0 0 16px;
    }
}
  