.cardconteiner__about {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: center;
    background: #FFFFFF;
    transition: .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    box-sizing: border-box;
    height: 305px;
}

@media screen and (max-width: 800px) {
    .cardconteiner__about {
        top: 179px;
        height: 284px;
        justify-content: flex-start;
        padding-top: 20px;
    }
}

@media screen and (max-width: 698px) {
    .cardconteiner__about {
        height: 242px;
        padding-top: 12px;
        padding: 0;
        margin-top: 12px;
        border-radius: 0px;
    }
}