.team__image {
  border-radius: 10px;
  width: 215px;
  height: 286px;
  background-size: contain;
}
@media screen and (max-width: 1080px) {
  .team__image {
    height: 226px;
    width: 170px;
    border-radius: 7.87278px;
  }
}
@media screen and (max-width: 425px) {
  .team__image {
    height: 160px;
    width: 120px;
    border-radius: 5px;
  }
}
