.about__content-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 30px 107.5px 0;
}
@media screen and (max-width: 1440px){
  .about__content-subtitle  {
    font-size: calc(14px + (18 - 14) * ( (100vw - 768px) / ( 1440 - 768) ));
    line-height: calc(20px + (30 - 20) * ( (100vw - 768px) / ( 1440 - 768) ));
  }
}
@media screen and (max-width: 768px){
  .about__content-subtitle  {
    margin: 30px 39px 0;
    font-size: calc(12px + (14 - 12) * ( (100vw - 320px) / ( 768 - 320) ));
    line-height: calc(16px + (20 - 16) * ( (100vw - 320px) / ( 768 - 320) ));
  }
}
@media screen and (max-width: 320px){
  .about__content-subtitle  {
    margin: 16px 12px 0;
  }
}
