.team__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000d26;
  margin: 20px auto 0;
}
@media screen and (max-width: 1080px) {
  .team__name {
    font-size: 14px;
    line-height: 19px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 425px) {
  .team__name {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    word-spacing: 10px;
    width: min-content;
  }
}