.header__menu-mobile-icon {
    padding: 0;
    margin: 0;
    width: 90%;
    height: 1.33px;
    display: block;
    position: relative;
    background: white;
    transition: 0.4s;
  }
  
  .header__menu-mobile-icon::after, .header__menu-mobile-icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 1.33px;
    transition: 0.4s;
  }
  
  .header__menu-mobile-icon::after {
    top: 7px;
  }
  
  .header__menu-mobile-icon::before {
    top: -7px;
  }
  