.projects__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 20px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

@media (max-width: 1300px) {
  .projects__text {
    margin-top: 12px;
    margin-left: 16px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .projects__text {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    line-height: 14px;
  }
}
