.about__new {
    width: 348px;
    height: 340px;
    background: #e0f0ff;
    border-radius: 10px;
    padding: 20px 20px 30px 20px;
    color: black;
    box-sizing: border-box;
    position: relative;
    margin-top: 14.16px;
    display: grid;
    grid-template-rows: 27px 110px 153px;
  }

  @media screen and (max-width: 768px){
    .about__new{
      width: 330px;
      height: 330px;
      padding: 20px;
    }
  }
  @media screen and (max-width: 320px){
    .about__new{
      width: 288px;
      height: 250px;
      padding: 16px;
      grid-template-rows: 25px 69px 124px;
    }
  }