.header__menu-mobile-link-two{
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
}
@media all and (max-width: 480px) {
    .header__menu-mobile-link-two {
      padding: 0 0 0 16px;
    }
}

  